@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.slick-dots {
    position: absolute;
    right: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
} */

body{
    height: 4000px;
}


.upto{
    position: relative;
}

.upto::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    height: 4px;
    width: 70%;
    background-color: orangered;
}

.sub-menu{
    display: none;
}

.menu-trigger.is-open + .sub-menu{
    display: block;

}

.is-open{
    color: #FE7865;
}

.box-1{
    position: relative;
    height: 28rem;
}

.box-1 img{
    position: absolute;
    top: -5rem 
}

.box-4{
    position: relative;
    margin-top: 18rem;
}

.box-4 img{
    position: absolute;
    top: -15rem;
    left: 15%;
}

.box-5{
    position: relative;
    height: 16rem;
    width: 100%;
    margin-bottom:12rem
}

.box-5 img{
    position: absolute;
    bottom: -8rem;
}

.box-6{
    position: relative;
    padding-top: 8rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
}